@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
.on {
  display: block !important;
}

.off {
  display: none !important;
}

.pagOn {
  color: #0e7afe;
  font-weight: bold;
}

.error {
  display: none;
  margin-top: 10px;
  text-align: left;
  color: #ff0033;
  font-size: 0.9rem;
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#login {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  position: relative;
}

#login .inner {
  width: 1200px;
  margin: auto;
}

#login .inner .content {
  width: 400px;
  padding: 50px 20px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#login .inner .content .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#login .inner .content form fieldset {
  padding: 0 20px;
}

#login .inner .content form fieldset label {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

#login .inner .content form fieldset input {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #dadada;
  caret-color: #0e7afe;
  all: unset;
  border: 1px solid #dadada;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#login .inner .content form fieldset .loginBtn {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background-color: #0e7afe;
  color: white;
  all: unset;
  border: 1px solid #efefef;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@media screen and (max-width: 770px) {
  #login .inner {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #login .inner .content {
    width: 100%;
  }
}

#join {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  position: relative;
}

#join .inner {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

#join .inner .content {
  padding: 50px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#join .inner .content > div {
  margin-bottom: 50px;
}

#join .inner .content > div h3 {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
  font-size: 1.5rem;
  font-weight: bold;
}

#join .inner .content > div .notice {
  margin-bottom: 30px;
  text-align: right;
  color: #0e7afe;
  font-size: 0.9rem;
}

#join .inner .content > div form fieldset > div {
  width: 500px;
  margin-bottom: 30px;
}

#join .inner .content > div form fieldset > div label {
  display: inline-block;
  width: 150px;
  padding: 10px;
}

#join .inner .content > div form fieldset > div input {
  all: unset;
  border: 1px solid #dadada;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 346px;
  padding: 5px;
  border-radius: 3px;
}

#join .inner .content > div form fieldset > div input:focus {
  border: 1px solid #0e7afe;
}

#join .inner .content > div form fieldset > div .info {
  margin-top: 10px;
  margin-left: 155px;
  color: #777777;
  font-size: 0.9rem;
}

#join .inner .content > div form fieldset > div:last-child {
  margin-bottom: 0;
}

#join .inner .content > div form fieldset .pwCondition {
  display: inline-block;
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #dadada;
}

#join .inner .content > div form fieldset .pwCondition li {
  margin-left: 15px;
  margin-bottom: 10px;
  color: #777777;
  font-size: 0.9rem;
  list-style-type: disc;
}

#join .inner .content > div form fieldset .pwCondition li b {
  font-weight: bold;
}

#join .inner .content > div form fieldset .pwCondition li:last-child {
  margin-bottom: 0;
}

#join .inner .content > div form fieldset .requiredSpan {
  position: relative;
}

#join .inner .content > div form fieldset .requiredSpan:after {
  content: '※';
  display: block;
  color: #0e7afe;
  font-size: 0.8rem;
  position: absolute;
  top: 7px;
  right: -16px;
}

#join .inner .content > div form fieldset .error {
  margin-left: 155px;
}

#board {
  width: 100%;
  height: 100%;
}

#board .inner {
  width: 1200px;
  margin: auto;
}

#board .inner .content {
  background-color: white;
}

#board .inner .content .tBoard {
  width: 100%;
  border-collapse: collapse;
}

#board .inner .content .tBoard tr th, #board .inner .content .tBoard tr td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#board .inner .content .tBoard tr th .chk, #board .inner .content .tBoard tr td .chk {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
}

#board .inner .content .tBoard tr th {
  background-color: #0e7afe;
  color: white;
  font-weight: bold;
}

#board .inner .content .tBoard tr td {
  border-bottom: 1px solid #efefef;
}

#board .inner .content .tBoard tr td span {
  display: block;
}

#board .inner .content .tBoard tr td .settingIcon {
  display: block;
  width: 50px;
  margin: auto;
}

#board .inner .content .tBoard tr td .coinIcon {
  width: 20px;
}

#board .inner .content .tBoard tr td .group,
#board .inner .content .tBoard tr td .txt {
  font-size: 1.1rem;
  font-weight: bold;
}

#board .inner .content .tBoard tr td .group,
#board .inner .content .tBoard tr td .coinName,
#board .inner .content .tBoard tr td .txt {
  margin-bottom: 5px;
}

#board .inner .content .tBoard tr td .coinName,
#board .inner .content .tBoard tr td .cpu,
#board .inner .content .tBoard tr td .gpu,
#board .inner .content .tBoard tr td .cpuCnt,
#board .inner .content .tBoard tr td .gpuCnt {
  display: inline-block;
}

#board .inner .content .tPagination {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

#board .inner .content .tPagination td {
  padding: 20px 10px;
  border: 1px solid #efefef;
  text-align: center;
  cursor: pointer;
}

#board .inner .content .tPagination td:first-child, #board .inner .content .tPagination td:last-child {
  border: none;
}

@media screen and (max-width: 1200px) {
  #board .inner {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  #board .inner .content .tPagination {
    width: 100%;
  }
  #board .inner .content .tPagination td {
    padding: 15px;
  }
}

@media screen and (max-width: 500px) {
  #board .inner .content .tBoard {
    width: 100%;
  }
  #board .inner .content .tBoard tr th, #board .inner .content .tBoard tr td {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=common.css.map */